<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroopsys.qrcode.dao.AccountMapper">
    <resultMap id="accountMap" type="com.heroopsys.qrcode.entity.Account">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    </resultMap>

    <select id="queryByNameAndPwd" resultMap="accountMap" parameterType="java.util.Map">
        select id,user_name as name from t_qrcode_account where user_name=#{name} and password=#{password}
    </select>

    <select id="listAllByPager" resultMap="accountMap" parameterType="java.util.Map">
        select id,user_name as name,status,phone_number as phoneNumber from t_qrcode_account where 1 =1
        <if test="account.name != null">
            and  user_name=#{account.name}
        </if>
        limit ${page.offset},${page.rows}
    </select>

    <select id="count" resultType="int" parameterType="java.util.Map">
        select count(*) from t_qrcode_account where 1 =1
        <if test="name != null">
            and user_name=#{name}
        </if>
    </select>
</mapper>