<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroopsys.qrcode.dao.AccountMapper">
	<resultMap id="accountMap" type="com.heroopsys.qrcode.entity.Account">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
	</resultMap>

	<select id="queryAccount"  resultMap="accountMap" parameterType="com.heroopsys.qrcode.entity.Account">
		select id,user_name as name,status,phone_number from t_qrcode_account where 1 = 1
		<if test="name != null">
			and user_name=#{name}
		</if>
		<if test="password != null">
			and password=#{password}
		</if>
		<if test="id != null">
			and id=#{id}
		</if>
	</select>

	<select id="listAllByPager" resultMap="accountMap"
		parameterType="java.util.Map">
		select id,user_name as name,status,phone_number as phoneNumber from
		t_qrcode_account where 1 =1
		<if test="account.name != null">
			and user_name=#{account.name}
		</if>
		limit ${page.offset},${page.rows}
	</select>

	<select id="count" resultType="int" parameterType="java.util.Map">
		select count(*) from t_qrcode_account where 1 =1
		<if test="name != null">
			and user_name=#{name}
		</if>
	</select>

	<insert id="addAccount" parameterType="com.heroopsys.qrcode.entity.Account">
		insert into
		t_qrcode_account(user_name,password,status,phone_number)values(#{name},#{password},#{status},#{phoneNumber});
	</insert>
	<update id="updateAccount" parameterType="com.heroopsys.qrcode.entity.Account">
		update t_qrcode_account 
		<set>
			<if test="name != null">
				user_name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="phoneNumber != null">
				phone_number = #{phoneNumber,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<delete id="deleteAccount" parameterType="java.lang.Integer">
		delete from t_qrcode_account where id = #{id}
	</delete>

</mapper>