<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heroopsys.qrcode.dao.DeviceMapper">
    <resultMap id="BaseResultMap" type="com.heroopsys.qrcode.entity.Device">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="device_code" property="deviceCode" jdbcType="VARCHAR"/>
        <result column="device_model" property="deviceModel" jdbcType="VARCHAR"/>
        <result column="device_qrcode" property="deviceQrcode" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="project_leader" property="projectLeader" jdbcType="VARCHAR"/>
        <result column="project_others" property="projectOthers" jdbcType="VARCHAR"/>
        <result column="debug_date" property="debugDate" jdbcType="TIMESTAMP"/>
        <result column="finish_date" property="finishDate" jdbcType="TIMESTAMP"/>
        <result column="contract_point" property="contractPoint" jdbcType="VARCHAR"/>
        <result column="client_name" property="clientName" jdbcType="VARCHAR"/>
        <result column="client_site" property="clientSite" jdbcType="VARCHAR"/>
        <result column="client" property="client" jdbcType="VARCHAR"/>
        <result column="client_tel" property="clientTel" jdbcType="VARCHAR"/>
        <result column="activation_code" property="activationCode" jdbcType="VARCHAR"/>
        <result column="activation_code2" property="activationCode2" jdbcType="VARCHAR"/>
        <result column="activation_code3" property="activationCode3" jdbcType="VARCHAR"/>
        <result column="activation_code4" property="activationCode4" jdbcType="VARCHAR"/>
        <result column="wlan" property="wlan" jdbcType="VARCHAR"/>
        <result column="sim_phone" property="simPhone" jdbcType="VARCHAR"/>
        <result column="sim_fee" property="simFee" jdbcType="VARCHAR"/>
        <result column="bak" property="bak" jdbcType="VARCHAR"/>
        <collection property="services" column="device_code" ofType="com.heroopsys.qrcode.entity.ServiceInfo"
                    javaType="ArrayList"
                    select="com.heroopsys.qrcode.dao.ServiceMapper.selectByDeviceCode">
            <id property="id" column="id"/>
            <result column="device_code" property="deviceCode" javaType="String"/>
            <result column="service_name" property="serviceName" jdbcType="VARCHAR"/>
            <result column="service_date" property="serviceDate" jdbcType="TIMESTAMP"/>
            <result column="service_location" property="serviceLocation"
                    jdbcType="VARCHAR"/>
            <result column="service_content" property="serviceContent"
                    jdbcType="VARCHAR"/>
            <result column="bak" property="bak" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, device_code, device_model, device_qrcode, project_name, project_leader, project_others, 
    debug_date, finish_date, contract_point, client_name, client_site, client, client_tel, 
    activation_code, activation_code2, activation_code3, activation_code4, wlan, sim_phone, 
    sim_fee, bak
  </sql>
    <select id="selectByExampleAndPager" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <if test="example.distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_qrcode_device
        <if test="example != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="example.orderByClause != null">
            order by ${example.orderByClause}
        </if>
        <if test="page != null">
            limit ${page.offset},${page.rows}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_qrcode_device
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_qrcode_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.heroopsys.qrcode.entity.Device">
    insert into t_qrcode_device (id, device_code, device_model, 
      device_qrcode, project_name, project_leader, 
      project_others, debug_date, finish_date, 
      contract_point, client_name, client_site, 
      client, client_tel, activation_code, 
      activation_code2, activation_code3, activation_code4, 
      wlan, sim_phone, sim_fee, 
      bak)
    values (#{id,jdbcType=INTEGER}, #{deviceCode,jdbcType=VARCHAR}, #{deviceModel,jdbcType=VARCHAR}, 
      #{deviceQrcode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{projectLeader,jdbcType=VARCHAR}, 
      #{projectOthers,jdbcType=VARCHAR}, #{debugDate,jdbcType=TIMESTAMP}, #{finishDate,jdbcType=TIMESTAMP}, 
      #{contractPoint,jdbcType=VARCHAR}, #{clientName,jdbcType=VARCHAR}, #{clientSite,jdbcType=VARCHAR}, 
      #{client,jdbcType=VARCHAR}, #{clientTel,jdbcType=VARCHAR}, #{activationCode,jdbcType=VARCHAR}, 
      #{activationCode2,jdbcType=VARCHAR}, #{activationCode3,jdbcType=VARCHAR}, #{activationCode4,jdbcType=VARCHAR}, 
      #{wlan,jdbcType=VARCHAR}, #{simPhone,jdbcType=VARCHAR}, #{simFee,jdbcType=VARCHAR}, 
      #{bak,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.heroopsys.qrcode.entity.Device">
        insert into t_qrcode_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deviceCode != null">
                device_code,
            </if>
            <if test="deviceModel != null">
                device_model,
            </if>
            <if test="deviceQrcode != null">
                device_qrcode,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="projectLeader != null">
                project_leader,
            </if>
            <if test="projectOthers != null">
                project_others,
            </if>
            <if test="debugDate != null">
                debug_date,
            </if>
            <if test="finishDate != null">
                finish_date,
            </if>
            <if test="contractPoint != null">
                contract_point,
            </if>
            <if test="clientName != null">
                client_name,
            </if>
            <if test="clientSite != null">
                client_site,
            </if>
            <if test="client != null">
                client,
            </if>
            <if test="clientTel != null">
                client_tel,
            </if>
            <if test="activationCode != null">
                activation_code,
            </if>
            <if test="activationCode2 != null">
                activation_code2,
            </if>
            <if test="activationCode3 != null">
                activation_code3,
            </if>
            <if test="activationCode4 != null">
                activation_code4,
            </if>
            <if test="wlan != null">
                wlan,
            </if>
            <if test="simPhone != null">
                sim_phone,
            </if>
            <if test="simFee != null">
                sim_fee,
            </if>
            <if test="bak != null">
                bak,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="deviceCode != null">
                #{deviceCode,jdbcType=VARCHAR},
            </if>
            <if test="deviceModel != null">
                #{deviceModel,jdbcType=VARCHAR},
            </if>
            <if test="deviceQrcode != null">
                #{deviceQrcode,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectLeader != null">
                #{projectLeader,jdbcType=VARCHAR},
            </if>
            <if test="projectOthers != null">
                #{projectOthers,jdbcType=VARCHAR},
            </if>
            <if test="debugDate != null">
                #{debugDate,jdbcType=TIMESTAMP},
            </if>
            <if test="finishDate != null">
                #{finishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="contractPoint != null">
                #{contractPoint,jdbcType=VARCHAR},
            </if>
            <if test="clientName != null">
                #{clientName,jdbcType=VARCHAR},
            </if>
            <if test="clientSite != null">
                #{clientSite,jdbcType=VARCHAR},
            </if>
            <if test="client != null">
                #{client,jdbcType=VARCHAR},
            </if>
            <if test="clientTel != null">
                #{clientTel,jdbcType=VARCHAR},
            </if>
            <if test="activationCode != null">
                #{activationCode,jdbcType=VARCHAR},
            </if>
            <if test="activationCode2 != null">
                #{activationCode2,jdbcType=VARCHAR},
            </if>
            <if test="activationCode3 != null">
                #{activationCode3,jdbcType=VARCHAR},
            </if>
            <if test="activationCode4 != null">
                #{activationCode4,jdbcType=VARCHAR},
            </if>
            <if test="wlan != null">
                #{wlan,jdbcType=VARCHAR},
            </if>
            <if test="simPhone != null">
                #{simPhone,jdbcType=VARCHAR},
            </if>
            <if test="simFee != null">
                #{simFee,jdbcType=VARCHAR},
            </if>
            <if test="bak != null">
                #{bak,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from t_qrcode_device
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.heroopsys.qrcode.entity.Device">
        update t_qrcode_device
        <set>
            <if test="deviceCode != null">
                device_code = #{deviceCode,jdbcType=VARCHAR},
            </if>
            <if test="deviceModel != null">
                device_model = #{deviceModel,jdbcType=VARCHAR},
            </if>
            <if test="deviceQrcode != null">
                device_qrcode = #{deviceQrcode,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectLeader != null">
                project_leader = #{projectLeader,jdbcType=VARCHAR},
            </if>
            <if test="projectOthers != null">
                project_others = #{projectOthers,jdbcType=VARCHAR},
            </if>
            <if test="debugDate != null">
                debug_date = #{debugDate,jdbcType=TIMESTAMP},
            </if>
            <if test="finishDate != null">
                finish_date = #{finishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="contractPoint != null">
                contract_point = #{contractPoint,jdbcType=VARCHAR},
            </if>
            <if test="clientName != null">
                client_name = #{clientName,jdbcType=VARCHAR},
            </if>
            <if test="clientSite != null">
                client_site = #{clientSite,jdbcType=VARCHAR},
            </if>
            <if test="client != null">
                client = #{client,jdbcType=VARCHAR},
            </if>
            <if test="clientTel != null">
                client_tel = #{clientTel,jdbcType=VARCHAR},
            </if>
            <if test="activationCode != null">
                activation_code = #{activationCode,jdbcType=VARCHAR},
            </if>
            <if test="activationCode2 != null">
                activation_code2 = #{activationCode2,jdbcType=VARCHAR},
            </if>
            <if test="activationCode3 != null">
                activation_code3 = #{activationCode3,jdbcType=VARCHAR},
            </if>
            <if test="activationCode4 != null">
                activation_code4 = #{activationCode4,jdbcType=VARCHAR},
            </if>
            <if test="wlan != null">
                wlan = #{wlan,jdbcType=VARCHAR},
            </if>
            <if test="simPhone != null">
                sim_phone = #{simPhone,jdbcType=VARCHAR},
            </if>
            <if test="simFee != null">
                sim_fee = #{simFee,jdbcType=VARCHAR},
            </if>
            <if test="bak != null">
                bak = #{bak,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.heroopsys.qrcode.entity.Device">
    update t_qrcode_device
    set device_code = #{deviceCode,jdbcType=VARCHAR},
      device_model = #{deviceModel,jdbcType=VARCHAR},
      device_qrcode = #{deviceQrcode,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_leader = #{projectLeader,jdbcType=VARCHAR},
      project_others = #{projectOthers,jdbcType=VARCHAR},
      debug_date = #{debugDate,jdbcType=TIMESTAMP},
      finish_date = #{finishDate,jdbcType=TIMESTAMP},
      contract_point = #{contractPoint,jdbcType=VARCHAR},
      client_name = #{clientName,jdbcType=VARCHAR},
      client_site = #{clientSite,jdbcType=VARCHAR},
      client = #{client,jdbcType=VARCHAR},
      client_tel = #{clientTel,jdbcType=VARCHAR},
      activation_code = #{activationCode,jdbcType=VARCHAR},
      activation_code2 = #{activationCode2,jdbcType=VARCHAR},
      activation_code3 = #{activationCode3,jdbcType=VARCHAR},
      activation_code4 = #{activationCode4,jdbcType=VARCHAR},
      wlan = #{wlan,jdbcType=VARCHAR},
      sim_phone = #{simPhone,jdbcType=VARCHAR},
      sim_fee = #{simFee,jdbcType=VARCHAR},
      bak = #{bak,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>