<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heroopsys.qrcode.dao.NoticeMapper">
	<resultMap id="BaseResultMap" type="com.heroopsys.qrcode.entity.Notice">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="notice" property="notice" jdbcType="VARCHAR" />
		<result column="add_date" property="addDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, notice, add_date
	</sql>

	<select id='getNewest' resultMap="BaseResultMap" >
		select * from t_qrcode_notice order by add_date desc limit 1;
	</select>

	<select id='countByNotice' parameterType="com.heroopsys.qrcode.entity.Notice"  resultType="int" >
		select count(*) from
		t_qrcode_notice;
	</select>
	<select id='selectByNotice' parameterType="java.util.Map" resultMap="BaseResultMap" >
		select * from
		t_qrcode_notice
		limit ${page.offset},${page.rows};
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_qrcode_notice
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_qrcode_notice
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.heroopsys.qrcode.entity.Notice">
		insert into t_qrcode_notice
		(id, notice, add_date
		)
		values (#{id,jdbcType=INTEGER},
		#{notice,jdbcType=VARCHAR},
		#{addDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.heroopsys.qrcode.entity.Notice">
		insert into t_qrcode_notice
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="notice != null">
				notice,
			</if>
			<if test="addDate != null">
				add_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="notice != null">
				#{notice,jdbcType=VARCHAR},
			</if>
			<if test="addDate != null">
				#{addDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.heroopsys.qrcode.entity.Notice">
		update t_qrcode_notice
		<set>
			<if test="notice != null">
				notice = #{notice,jdbcType=VARCHAR},
			</if>
			<if test="addDate != null">
				add_date = #{addDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.heroopsys.qrcode.entity.Notice">
		update
		t_qrcode_notice
		set notice = #{notice,jdbcType=VARCHAR},
		add_date =
		#{addDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>